@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />
<div class="banner-top">
    <div class="container">
        <h3>Login</h3>
        <h4><a href="@Url.Action("Index","Home")">Home</a><label>/ Login</label></h4>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="contact">
    <div class="container">
        <div class="spec ">
            <h3>Login</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <div class=" contact-w3">
            <div class="col-md-2 contact-left align-content-center">

            </div>
            <div class="col-md-8 contact-left align-content-center">

                <div id="container">
                    <!--Horizontal Tab-->
                    
                    <div id="parentHorizontalTab">
                        <div class="resp-tabs-container hor_1">
                            <div style="width: 50%; align-content: center; margin: 0 auto;">
                                @if(ViewBag.message != null)
                                { 
                                    <div class="alert alert-danger" role="alert">
                                        <b>Invalid UserId or Password</b>
                                    </div>
                                }
                                <br />
                                <form action="@Url.Action("checklogin", "Account")" method="post">
                                    <div class="key">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <input type="text" value="Email" name="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="key">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                        <input type="password" value="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                        <div class="clearfix"></div>
                                    </div>
                                    <input type="submit" value="Login">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Plug-in Initialisation-->
                <script type="text/javascript">
                    $(document).ready(function () {
                        //Horizontal Tab
                        $('#parentHorizontalTab').easyResponsiveTabs({
                            type: 'default', //Types: default, vertical, accordion
                            width: 'auto', //auto or any width like 600px
                            fit: true, // 100% fit in a container
                            tabidentify: 'hor_1', // The tab groups identifier
                            activate: function (event) { // Callback function if tab is switched
                                var $tab = $(this);
                                var $info = $('#nested-tabInfo');
                                var $name = $('span', $info);
                                $name.text($tab.text());
                                $info.show();
                            }
                        });

                        // Child Tab
                        $('#ChildVerticalTab_1').easyResponsiveTabs({
                            type: 'vertical',
                            width: 'auto',
                            fit: true,
                            tabidentify: 'ver_1', // The tab groups identifier
                            activetab_bg: '#fff', // background color for active tabs in this group
                            inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
                            active_border_color: '#c1c1c1', // border color for active tabs heads in this group
                            active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
                        });

                        //Vertical Tab
                        $('#parentVerticalTab').easyResponsiveTabs({
                            type: 'vertical', //Types: default, vertical, accordion
                            width: 'auto', //auto or any width like 600px
                            fit: true, // 100% fit in a container
                            closed: 'accordion', // Start closed if in accordion view
                            tabidentify: 'hor_1', // The tab groups identifier
                            activate: function (event) { // Callback function if tab is switched
                                var $tab = $(this);
                                var $info = $('#nested-tabInfo2');
                                var $name = $('span', $info);
                                $name.text($tab.text());
                                $info.show();
                            }
                        });
                    });
                </script>

            </div>
            <div class="col-md-2 contact-left align-content-center">

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>